.calculator {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

body {
    background-color: green;
}

.display {
    margin-bottom: 20px;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px;
    font-size: 24px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}